* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body {
    background: #78c1f3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 25px;
    width: 550px;
    border-radius: 10px;
}
.todo_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 5px;
    justify-content: center;
}
.add-task-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#Refresh{
    background-color: #78c1f3;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5%;
}
#deleteAll{
    background-color: #78c1f3;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5%;
}
#add{
    background-color: #78c1f3;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.search-task-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50%;
}
.input-field{
    display: flex;
    align-items: center;
    justify-content: center;
}
.illustration{
    align-items: center;
    justify-content: center;
}
.pending, .finished {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10%;
}
.pink, .lightgreen {
    width: 30px;  /* Adjust the size as necessary */
    height: 30px;
    border-radius: 5px;
}
.tasks{
    border: darkred 2px solid;

}
#pending-col{
    border-radius: 10px;
    overflow-y: auto;
    background-color: pink;
    padding: 25px;
}
#done-col{
    border-radius: 10px;
    overflow-y: auto;
    background-color: lightgreen;
    padding: 25px;
}

.lightgreen {
    background-color: lightgreen ;
}
.pink{
    background-color: pink ;
}
.completed-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.completed-btn img {
    width: 1em;  /* You can change the size */
    height: 1em; /* You can change the size */
}
.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow
}
