.container {
  background-color: white;
  padding: 25px;
  width: 550px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
    background: #78c1f3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.bigcontainer{
  justify-content: center;
  align-items: center;
}
