<div class="body">
  <div class="container">

    <mat-stepper linear #stepper>
      <mat-step [stepControl]="form.at(0)" >
        <form #authForm1="ngForm" [formGroup]="form.at(0)">
          <ng-template matStepLabel>Your E-mail</ng-template>
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              [formControl]="email"
              (blur)="updateErrorMessage()"
              required
              ngModel
              name="email"
            />
            @if(email.invalid){
              <mat-error >{{ errorMessage() }}</mat-error>
            }
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>SignIn</button>
          </div>
        </form>
      </mat-step>
      <mat-step  [formGroup]="form.at(1)"  >
        <form  #authForm2="ngForm" [formGroup]="form.at(1)" (ngSubmit)="onSubmit()">
          <ng-template matStepLabel>Your password</ng-template>
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input id="input-field"
              matInput
              [formControl]="password"
              ngModel
              (blur)="updateErrorMessage()"
              name="password"
              minlength="6"
              [type]="hide() ? 'password' : 'text'"
            />

            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>

              <mat-error>{{errorMessage()}}</mat-error>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Submit </button>
          </div>
        </form>
      </mat-step>

    </mat-stepper>
    <button
    mat-button
    class="loginbtn"
    color="primary" (click)="SignInRoute()">Switch to Sign Up</button>
      </div>


</div>
